[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
coverage-badge = "*"
elasticsearch = "*"
python-dotenv = "*"
bandit = "*"
pylint = "*"

[packages]
flask = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-restx = "*"
pyjwt = "*"
flask-socketio = "*"
cryptography = "*"
gunicorn = "*"
pymysql = "*"
sqlalchemy-filters = "*"
gevent = "*"
flask-mail = "*"
cffi = "*"
flask-caching = "*"
sqlakeyset = "*"
elasticsearch = "*"
elasticsearch-dsl = "*"
apscheduler = "*"
flask-sqlalchemy = "*"
requests = "*"
opensearch-py = "*"
opensearch-dsl = {git = "https://github.com/opensearch-project/opensearch-dsl-py.git"}
onetimepass = "*"
pyqrcode = "*"
tzdata = "*"
colorama = "*"
ply = "*"
python-dotenv = "*"
pyminizip = "*"

[requires]
python_version = "3.8"
