[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
coverage-badge = "*"
elasticsearch = "*"
python-dotenv = "*"
bandit = "*"
pylint = "*"
autopep8 = "*"

[packages]
flask = "==2.1.2"
werkzeug = "==2.1.2"
flask-cors = "*"
flask-bcrypt = "*"
flask-restx = "*"
pyjwt = "*"
cryptography = "*"
gunicorn = "*"
gevent = "*"
flask-mail = "*"
cffi = "*"
flask-caching = "*"
elasticsearch = "==7.17.1"
elasticsearch-dsl = "*"
apscheduler = "*"
requests = "*"
opensearch-py = "==1.1.0"
opensearch-dsl = "==1.0.0"
onetimepass = "*"
pyqrcode = "*"
tzdata = "*"
colorama = "*"
ply = "*"
python-dotenv = "*"
dnspython = "*"
pymemcache = "*"
python-geoip-python3 = "*"
python-geoip-geolite2 = "*"
maxminddb-geolite2 = "*"
ndjson = "*"
elastic-apm = {extras = ["flask"], version = "*"}
psutil = "*"
python-dateutil = "*"
flask-saml2 = "*"
kafka-python = "*"
pymsteams = "*"
chevron = "*"
pdpyras = "*"
pyyaml = "*"
pysigma = "*"
pysigma-backend-elasticsearch = "*"
pysigma-pipeline-sysmon = "*"
pysigma-pipeline-windows = "*"
pysigma-backend-opensearch = "*"
urllib3 = "*"

[requires]
python_version = "3.8"
